* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-border: #004EEB;
  --background-color: #155EEF;
  --backgroud-banner:  rgba(255, 255, 255, 0.05);
  --background-color-about:  #F5F5FF;
  --color-about: #121926;
  --color-text-layanan: #9AA4B2;
  --box-faq: #F6F6FB;
  --color-form: #757575;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container .btn {
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: -50px;
  cursor: pointer;
  z-index: 300;
  background-color: var(--color-border);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.container .btn i {
  color: #fff;
}

.container .btn.top {
  right: 20px;
}

.container header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 2%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.container header .container__header {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header .logo__nusa {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header nav.nav__header__my__nusa {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header nav.nav__header__my__nusa ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header nav.nav__header__my__nusa ul li.list__item__my_nusa {
  list-style-type: none;
  list-style-position: inside;
  padding: 5px;
  margin: 5px;
}

.container header .container__header nav.nav__header__my__nusa ul li.list__item__my_nusa a.list__link_my_nusa {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  color: var(--color-nav);
}

.container header .container__header nav.nav__header__my__nusa ul li.list__item__my_nusa.active {
  color: var(--color-form);
}

.container header .container__header nav.nav__header__my__nusa .button__nav__container button {
  display: inline-block;
  padding: 12px 30px;
  background: unset;
  outline: none;
  border: none;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  margin: 0px 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 6px;
}

.container header .container__header nav.nav__header__my__nusa .button__nav__container button.daftar__mu__nusa {
  border: 1px solid var(--color-border);
  color: var(--color-border);
}

.container header .container__header nav.nav__header__my__nusa .button__nav__container button.masuk__mu__nusa {
  background-color: var(--background-color);
  color: #fff;
}

.container header.sticky {
  position: fixed;
  padding: 1% 2%;
  top: 0;
  -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  background-color: var(--background-color-about);
}

.container section.my__nusa {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--backgroud-banner);
}

.container section.my__nusa .container__my__nusa {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.my__nusa .container__my__nusa .row__my__nusa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa {
  width: 450px;
  height: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 700px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa h1 {
  font-size: 35px;
  letter-spacing: 1.5px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa h1 span.blue__text {
  color: var(--color-border);
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .desc__text {
  margin-top: 10px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .desc__text p {
  font-size: 15px;
  line-height: 1.5;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .button__banner {
  margin-top: 30px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .button__banner button {
  display: inline-block;
  padding: 12px 30px;
  margin-right: 20px;
  outline: none;
  background: unset;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border-radius: 6px;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .button__banner button.btn__banner {
  background-color: var(--background-color);
  color: #fff;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__my__nusa .button__banner button.btn__banner__no__bg {
  border: 1px solid var(--color-border);
  color: var(--color-border);
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa {
  width: 650px;
  height: 450px;
  position: relative;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
  height: 100%;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa .chatbox1 {
  width: 230px;
  position: absolute;
  top: 40px;
  right: 40px;
  -webkit-animation: zoom ease-in 3.5s infinite;
          animation: zoom ease-in 3.5s infinite;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa .rectangle2 {
  width: 180px;
  position: absolute;
  left: 100px;
  bottom: 30px;
  -webkit-animation: zoom2 ease-in 3.5s infinite;
          animation: zoom2 ease-in 3.5s infinite;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa .rectangle2 img {
  width: 100%;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa .rectangle3 {
  width: 200px;
  position: absolute;
  right: 70px;
  bottom: 35px;
  -webkit-animation: zoom ease-in 3.5s infinite;
          animation: zoom ease-in 3.5s infinite;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa .rectangle3 img {
  width: 100%;
}

.container section.my__nusa .container__my__nusa .row__my__nusa .box__image__my__nusa:hover {
  -webkit-animation: shake 150ms 2 linear;
          animation: shake 150ms 2 linear;
}

.container section.about__my__nusa {
  width: 100%;
  padding: 100px 0px;
  position: relative;
  height: 100%;
  background-color: var(--background-color-about);
}

.container section.about__my__nusa .container__about__my__nusa {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa {
  width: 60%;
  font-family: "Mulish", sans-serif;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa span {
  color: #004EEB;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa h1 {
  font-size: 40px;
  color: var(--color-about);
  margin: 20px 0px;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa p {
  line-height: 1.5;
  font-size: 15px;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa button.btn__about {
  margin: 20px 0px;
  display: block;
  padding: 12px 30px;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: var(--color-border);
  color: #fff;
  border-radius: 6px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.about__my__nusa .container__about__my__nusa .row__about__my__nusa .box__about__my__nusa__image img {
  margin: 0px auto;
}

.container section.layanan__my__nusa {
  padding: 100px 0px;
  width: 100%;
  background-color: var(--backgroud-banner);
}

.container section.layanan__my__nusa .container__layanan__my__nusa {
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Mulish", sans-serif;
}

.container section.layanan__my__nusa .container__layanan__my__nusa h1 {
  width: 34%;
  margin: 0px auto;
  font-size: 30px;
  text-align: center;
}

.container section.layanan__my__nusa .container__layanan__my__nusa h1 span {
  color: var(--color-border);
}

.container section.layanan__my__nusa .container__layanan__my__nusa .row__layanan__my__nusa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.container section.layanan__my__nusa .container__layanan__my__nusa .row__layanan__my__nusa .box__layanan__my__nusa {
  width: 300px;
  height: 100%;
  padding: 20px;
  margin: 20px;
}

.container section.layanan__my__nusa .container__layanan__my__nusa .row__layanan__my__nusa .box__layanan__my__nusa h3 {
  margin: 10px 0px;
}

.container section.layanan__my__nusa .container__layanan__my__nusa .row__layanan__my__nusa .box__layanan__my__nusa p {
  color: var(--color-text-layanan);
}

.container section.layanan__my__nusa .container__layanan__my__nusa .row__layanan__my__nusa .box__layanan__my__nusa .book {
  width: 45px;
  height: 45px;
  background: rgba(22, 179, 100, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.container section.Faq__my__nusa {
  padding: 50px 0px 0px;
  position: relative;
}

.container section.Faq__my__nusa .container__Faq__my__nusa {
  max-width: 1350px;
  margin: 0px auto;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa {
  width: 650px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
  font-family: "Mulish", sans-serif;
  background-color: var(--box-faq);
  color: var(--color-about);
  background-image: url("../assets/Dot Ornament.png");
  background-repeat: no-repeat;
  background-size: calc(100% -500px);
  background-position-x: 20px;
  background-position-y: 180px;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa h1 {
  margin-top: 20px;
  width: 70%;
  font-size: 30px;
  line-height: 1.5;
  color: var(--color-about);
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form {
  width: 650px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  font-family: "Mulish", sans-serif;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form h2 {
  color: #0A0A0A;
  line-height: 1.5;
  font-weight: 500;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa {
  width: 100%;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa .input__group {
  width: 100%;
  margin-top: 20px;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa .input__group label {
  margin: 10px 0px;
  display: block;
  font-family: "Inter", sans-serif;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa .input__group input {
  width: 100%;
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  color: var(--color-form);
  background-color: #fff;
  border: 1px solid #C2C2C2;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa .input__group textarea {
  width: 100%;
  outline: none;
  background: #FFFFFF;
  -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #C2C2C2;
  border-radius: 10px;
  height: 64px;
  font-family: "Inter", sans-serif;
  padding: 6px 12px;
}

.container section.Faq__my__nusa .container__Faq__my__nusa .row__Faq__my__nusa .box__Faq__my__nusa__form form.form__my__nusa button.form__my__nusa {
  width: 100%;
  background-color: var(--color-border);
  color: #fff;
  display: block;
  padding: 12px 30px;
  margin: 20px 0px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: translateX(-20px) scale(0.5);
            transform: translateX(-20px) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: translateX(-20px) scale(0.5);
            transform: translateX(-20px) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
}

@-webkit-keyframes zoom2 {
  0% {
    -webkit-transform: translateX(-20px) scale(0.5);
            transform: translateX(-20px) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes zoom2 {
  0% {
    -webkit-transform: translateX(-20px) scale(0.5);
            transform: translateX(-20px) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */